.env
*.pyc
*.warc
*.warc.gz
.DS_Store
chromadb/
warcs/
visualizations/
test.py
TODO.md
runs/
_*/
env/
/.idea/.gitignore
/.idea/aws.xml
/.idea/misc.xml
/.idea/modules.xml
/.idea/vcs.xml
/.idea/warc-gpt-public.iml
