<!DOCTYPE html>
<html lang="en" data-theme="light">
  <head>
    <title>WARC-GPT</title>
    <meta name="description" content="Experimental Retrieval Augmented Generation Pipeline for Web Archive Collections. ">

    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">

    <link rel="stylesheet" href="/static/index.css">
    <script type="module" src="/static/index.js"></script>
  </head>

  <body>

    <main>
      <section id="chat">
        <div id="chat-ui"></div>

        <form id="chat-input">
          <textarea id="message" placeholder="This chatbot can answer questions about web archive files it ingested." required></textarea>
          <button id="ask" disabled>Ask <span>WARC-GPT</span></button>
        </form>
      </section>

      <aside id="settings">
        <form id="settings-form">      
          <img id="logo-main" src="/static/images/logo-title-white.svg" alt="WARC-GPT" aria-hidden="true"/>

          <label for="model">Model</label>
          <select id="model" name="model">
            {% for model in available_models %}
            <option value="{{ model }}">{{ model }}</option>
            {% endfor %}
          </select>

          <label for="temperature">Temperature</label>
          <select id="temperature" name="temperature">
            {% for i in range(0, 21) %}
            <option value="{{ i / 10 }}">{{ i / 10}}</option>
            {% endfor %}
          </select>

          <label for="max_tokens">Max tokens</label>
          <input type="number" name="max_tokens" id="max_tokens" value="" placeholder="Default">

          <label for="no_rag">Disable RAG</label> 
          <select id="no_rag" name="no_rag">
            <option value="false">No</option>
            <option value="true">Yes</option>
          </select>

          <label for="no_rag">Disable History</label> 
          <select id="no_history" name="no_history">
            <option value="false">No</option>
            <option value="true">Yes</option>
          </select>
          
          <button class="rag_prompt_override">Edit RAG prompt</button>
        </form>

        <a href="https://lil.law.harvard.edu" title="Harvard Library Innovation Lab">
          <img id="logo-lil" src="/static/images/lil.svg" alt="Harvard Library Innovation Lab">
        </a>
      </aside>

      <dialog class="rag_prompt_override">
        <button class="close">Close</button>
        <h2>Edit RAG Prompt</h2>

        <h3>Retrieval Prompt</h3>
        <textarea id="rag_prompt_override">{{ rag_prompt }}</textarea>
      </dialog>

    </main>

  </body>
</html>
